<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Acessórios de Basquete
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">


  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto/i1-3dda48b7-59f1-489e-acd8-f16def0b1dcb/solar-golf-sleeves-qNQ9v7.png" alt="Sleeve">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Sleeve</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="https://images.tcdn.com.br/img/img_prod/779675/testeira_nike_swoosh_227_6_20211013113833.jpg" alt="Faixa">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Faixa</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="https://images.tcdn.com.br/img/img_prod/661406/munhequeira_nike_swoosh_double_wristband_19491_1_20190906110629.jpg" alt="Munhequeira">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Munhequeira</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="https://imgnike-a.akamaihd.net/1300x1300/00429351.jpg" alt="Joelheira">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Joelheira</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="https://images.tcdn.com.br/img/img_prod/740066/regata_nike_memphis_grizzlies_city_edition_2019_20_swingman_935_1_20200124173242.jpg" alt="Regata">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Regata</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="https://static.shoptimao.com.br/produtos/camiseta-compressao-nike-pro-masculina/28/D12-8940-128/D12-8940-128_zoom1.jpg?ts=1648023228" alt="Camisa">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Camisa</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

        <ion-col size="6">
          <ion-card>
            <img src="https://m.media-amazon.com/images/I/91ShcttSCwL._AC_SX425_.jpg" alt="Bola Dominate">
            <ion-card-title>
              <h1 class="ion-text-center"><strong>NIKE</strong></h1>
            </ion-card-title>
            <ion-card-title>
              <h4 class="ion-text-center">Bola Dominate</h4>
            </ion-card-title>
          </ion-card>
        </ion-col>

          <ion-col size="6">
            <ion-card>
              <img src="https://cf.shopee.com.br/file/f9c3b1d723143a7afd931598bcac461a" alt="Bola Elite">
              <ion-card-title>
                <h1 class="ion-text-center"><strong>NIKE</strong></h1>
              </ion-card-title>
              <ion-card-title>
                <h4 class="ion-text-center">Bola Elite</h4>
              </ion-card-title>
            </ion-card>
          </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
