<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Tênis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">


  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <img src="https://i.zst.com.br/thumbs/51/2d/e/-549141441.jpg" alt="Jordan One">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Jordan One</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="https://imgnike-a.akamaihd.net/1300x1300/009559ID.jpg" alt="Lebron">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Lebron</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="https://artwalk.vteximg.com.br/arquivos/ids/224004-1000-1000/Tenis-Nike-Air-Max-90-365-Masculino-Branco.jpg?v=637268718947000000" alt="Air Max">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Air Max</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="https://static.netshoes.com.br/produtos/tenis-nike-precision-vi-masculino/02/2IC-7496-002/2IC-7496-002_zoom6.jpg?ts=1655749741&ims=544x" alt="Precision VI">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Precion VI</h4>
          </ion-card-title>
        </ion-card>

      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://imgnike-a.akamaihd.net/1300x1300/022788ID.jpg" alt="KD Trey">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">KD Trey</h4>
          </ion-card-title>
        </ion-card>

      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://images.tcdn.com.br/img/img_prod/740066/tenis_nike_kyrie_7_rings_masculino_2856_1_7e2f4400148a7ac2ba0a671ff58be195.jpg" alt="Kyrie 7">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Kyrie 7</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="https://imgnike-a.akamaihd.net/1300x1300/02212251.jpg" alt="Renew Elevate 3">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">Renew Elevate</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="https://artwalk.vteximg.com.br/arquivos/ids/224413-1000-1000/Tenis-Nike-PG-4-Branco.jpg?v=637287840562030000" alt="PG 4">
          <ion-card-title>
            <h1 class="ion-text-center"><strong>NIKE</strong></h1>
          </ion-card-title>
          <ion-card-title>
            <h4 class="ion-text-center">PG 4</h4>
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
